.container {
    display: grid;
    grid-row: auto;
    
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 20px;
    grid-template-columns: repeat( auto-fit, minmax(340px, 1fr) );
    grid-gap: 30px;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.card_container {
    align-self: center;
    margin: auto;
    margin-bottom: 20px;
    width: 340px;
    border-radius: 15px;
    height: 340px;
    overflow: hidden;
    
}

.card_container img {
    width: 340px;
    border-radius: 15px;
    height: 340px;
    object-fit: cover;
}
.card_title {
    position: relative;
    bottom: 100px;
    left: 20px;
    font-size: 18px;
    color: white;
    width: 50%;
    font-weight: 500;
}

@media all and (width < 400px) {
    .card_container {
        width: 250px;
        height: 250px;
    }
    .card_container img {
        width: 250px;
        height: 250px;
    }
}