.img_container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    object-fit: cover;
    height: 223px;
    margin-top: 75px;
    border-radius: 25px;
}

.img_container_h{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    object-fit: cover;
    height: 415px;
    margin-top: 75px;
    border-radius: 25px;
}

img {
    filter: brightness(70%);
}

.img_text{
    color: white;
    font-size: 48px;
    position: relative;
    top:-180px;
    display: flex;
    justify-content: center;
}

@media all and (width < 950px) {
    .imgC{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img_text{
        top: -125px;
        width: 80%;
        font-size: 22px;
    }
}

@media all and (width < 570px) {
    .imgC{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .img_text{
        text-align: center;
        top: -125px;
        width: 80%;
        font-size: 18px;
    }
}