.img_container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    object-fit: cover;
    height: 223px;
    margin-top: 75px;
    border-radius: 25px;
    filter: brightness(70%);
}

.img_container_h{
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    object-fit: cover;
    height: 415px;
    margin-top: 75px;
    border-radius: 25px;
}

.img_text{
    color: white;
    font-size: 48px;
    position: relative;
    top:-180px;
    display: flex;
    justify-content: center;
}

@media all and (width < 950px) {
    .img_container{
        width: 90%;
        height: 160px;
        max-height: 160px;
        min-height: 160px;
    }
    .imgC{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        height: 160px !important;
    }

    .imgC >img {
        margin: 30px;
    }
    .img_text{
        text-align: start;
        top: -165px;
        left: -5%;
        width: 80%;
        font-size: 26px;
    }
}

