

.header-container{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    display: flex;


}
img {
    justify-self: left;
    margin-right: auto;
}
.navcontent{
    justify-self: right;
    width: 350px;
    margin-left: auto;
}

a {
    
    margin-left: 40px;
    
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
    color: #FF6060;
    text-decoration: none;
}

a.active {
    
    border-bottom-color: #FF6060;
    border-bottom: 2px solid;
}

@media all and (width < 570px) {
    .header-container {
        align-items: center;
        flex-direction: column;
        
    }

    .header-container>img {
        
        justify-self: center;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .header-container >.navcontent {
        margin-left: 0px;
    }
}