.preview_container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
    width: 95%;
}

.img_preview {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 415px;
}

svg {
    font-size: 70px;
    
}

.counter{
    color: white;
    position: relative;
    top:370px;
    right:44%
}

.fa-chevron-right {
    position: relative;
    left:-90px;
    top:170px;
    color: white;
}

.fa-chevron-left {
    z-index: 99;
    position: relative;
    right:-70px;
    top:170px;
    color: white;
    
}

@media all and (width < 620px) {
    svg {
        font-size: 35px;
    }

    .fa-chevron-left {
        right:-27px;
        top: 90px;
    }

    .fa-chevron-right {
        left: -47px;
        top:90px;
    }

    .img_preview {
        height: 200px;
        object-fit: cover;
    }

    .counter{
        top:160px
    }
}